<html>

<head>
    <title>
        <%= fundName %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link href="/campaign.css" rel="stylesheet">
    <link rel="icon" href="/bowiebpa.jpg" type="image/icon type">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <div style="display:none;" id="id">
        <%=fundId %>
    </div>
    <div class="topbarWrapper">
        <div class="topbar">
            <div id="logoname" class="hidden">
                <h2>
                    <%= fundName %>
                </h2>
            </div>
            <div id="logo">
                <img src="<%=camImage%>" alt="Logo">
            </div>

            <div class="topButtonsContainer">
                <button class="topButton"><strong>Share</strong></button>
                <svg class="" style="height:30px;" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                </svg>
            </div>
        </div>

    </div>
    <div style="position:absolute; top:60px; right:0px;
    width:137px; height:160px; z-index:9998; background-color:red; margin-right:15px; margin-top:10px; border-radius:7px; display:none;
    ">
        asdfasf
    </div>
    <center>
        <div>
            <div id="split">
                <div id="actualSplit">


                    <div class="splitImgParent">
                        <img id="splitimg" src="<%= mainCamImage%>">
                    </div>
                    <div class="donateProgParent">
                        <div class="donateProgBox">

                            <div>
                                <div style="width:100%; margin:-20px; padding-bottom:15px;">
                                    <h1 id="fundNameAboveBar">
                                        <%= fundName %>
                                    </h1>
                                </div>
                                <progress class="progress progress1" max="100" value="5"></progress>
                                <div class="amounts">
                                    <h3>$<%=parseInt(camFunds /100)%> Raised</h3>
                                    <h3>
                                        <%=parseInt(camFunds /dollarGoal)%>% of $<%=dollarGoal%> Goal
                                    </h3>
                                </div>
                                <a href="/checkout/<%=fundId %>"><button class="bigdonate"
                                        jf-ext-button-ct="donate now"><strong>Donate Now</strong></button> </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="aboutbox">
            <div class="aboutmessage">
                <p class="abouttitle">About our Fundraiser</p>
                </strong></p>
                <%- message %>    <!--NOTE: THIS IS NOW NOT ESCAPED!! VULN TO XSS IF BAD STUFF INJECTED!-->               
                <span class="nomargin">
                    <p>Thank You,</p>

                    <%= programLeader %>
                </span>

            </div>

        </div>

        <div class="donateboxhousing">
            <h1 style="margin-top:-25px;">Donate Now</h1>
            <div class="cardrow">
                <div class="card">
                    <div class="ribbon">Legendary Tier</div>
                    <div class="amountmessage">
                        <strong>$1,000</strong>
                        <p>Donations on this level make you a legend! Your contribution has the ability to revolutionize
                            our program, allowing it to expand far beyond its original goals!</p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=1000">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $1000</div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="ribbon">Platinum Tier</div>
                    <div class="amountmessage">
                        <strong>$500</strong>
                        <p>Large donations such as this are incredibly valuable.
                            Thank you for being a beacon of support in our journey towards a brighter future! </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=500">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $500</div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="ribbon">Gold Tier</div>
                    <div class="amountmessage">
                        <strong>$250</strong>
                        <p>Thank you for donating to help to us purchase new equipmet for our members and continue to
                            cover our expenses! </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=250">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $250</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="cardrow">
                <div class="card shorterCard">
                    <div class="amountmessage">
                        <strong>$100</strong>
                        <p>Your donation will help us continue to provide our members with the best possible experience!
                        </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=100">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $100</div>
                        </div>
                    </a>
                </div>
                <div class="card shorterCard">
                    <div class="amountmessage">
                        <strong>$50</strong>
                        <p>Thank you for contributing to our effort to minimize member expenses and improve experiences!
                        </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=50">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $50</div>
                        </div>
                    </a>
                </div>
                <div class="card shorterCard">
                    <div class="amountmessage">
                        <strong>$35</strong>
                        <p>Every donation makes a difference and is greatly appreciated! </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=35">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $35</div>
                        </div>
                    </a>
                </div>
            </div>
            <a href="/checkout/<%=fundId %>/?donate=100" style="color:black; text-decoration: none;">
                <div id="customdonationparent">
                    <div>Donate a Custom Amount</div>
                </div>
            </a>
        </div>


        <div style="width:100%; min-height: 100px;">
            <h1 id="thanks" >A Huge Thank You to Our Supporters!</h1>

            <div id="columnParent">
                <div class="donorColumn" id="column1">
                </div>


                <div class="donorColumn" id="column2">
                </div>


                <div class="donorColumn" id="column3">
                </div>
            </div>




        </div>

        <button id="loadmore">Load More</button>
        </div>
    </center>

    <br>
    <br>
    <div class="footer">
        <center style="position:relative; top:50%; transform:translateY(-50%);">
            Campaign Powered by RoyalFundraising
            <div style="height:10px"></div>
            © 2024 RoyalFundraising All Rights Reserved
        </center>
    </div>

    <script>
        var percent = <%=parseInt(camFunds / dollarGoal) %>;
        var fundId = parseInt(<%=fundId %>);
        var countsOfThree = 1; // count goes from 1 -3, determines which column of comments to add to
        let startIndex = 0;
        document.querySelector("#loadmore").addEventListener(
            "click", updateComments
        )

        if (percent >= 5) {
            document.querySelector(".progress1").value = percent;
        } else {
            if(window.innerWidth<=390){
                document.querySelector(".progress1").value = 10;
            }
            else{
                document.querySelector(".progress1").value = 5;
            }
        }
        updateComments();


        async function updateComments() {
            const url = `/api/fetchComments?id=${fundId}&startIndex=${startIndex}`;
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }
                const json = await response.json();
                if (json.length == 0) {
                    //toggle the no comments yet thinggy ONLY IF THERE WERE NO TOTAL COMMENTS!!!!!
                    //for now, will just hide button...
                    document.querySelector("#loadmore").style.display = "none";
                } else {
                    for (var i = 0; i < json.length; i++) {
                        var htmlContent =
                            `<div class="donorcard">
                        <div class="donorName">
                            ${escapeHtml(json[i].commentName)} donated $${json[i].amount}
                        </div>
                        <div class="supportingDate">
                            ${json[i].supporting ? "Supporting " + escapeHtml(json[i].supporting) + " | " : ""}<span id="time">${timeAgo(json[i].date)}</span>
                        </div>
                        <div class="donorMessage">
                            ${json[i].comment ? escapeHtml(json[i].comment) : ""}
                        </div>
                    </div>`
                        switch (countsOfThree) {
                            case 1:
                                document.querySelector("#column1").innerHTML += htmlContent;
                                break;
                            case 2:
                                document.querySelector("#column2").innerHTML += htmlContent;
                                break;
                            case 3:
                                document.querySelector("#column3").innerHTML += htmlContent;
                                countsOfThree = 0;
                                break;
                        }
                        countsOfThree++; //switch btwn columns
                        startIndex++; // make sure that not just old data is pulled + no repeats
                        if (parseInt(json[i].rownum) > parseInt(startIndex)) {
                            startIndex = parseInt(json[i].rownum);
                        } else {
                            console.log(parseInt(json[i].rownum), ' is not greater than ', startIndex)
                        }

                    }

                }
                console.log(json);
            } catch (error) {
                console.error(error.message);
            }
        }

        function timeAgo(timestamp) {
            timestamp = parseFloat(timestamp)
            const now = Date.now(); // Current timestamp in milliseconds
            const diff = now - timestamp; // Difference in milliseconds

            const seconds = Math.floor(diff / 1000);

            if (seconds < 60) {
                return "just now";
            } else if (seconds < 3600) {
                const minutes = Math.floor(seconds / 60);
                return `${minutes} minute${minutes !== 1 ? 's' : ''} ago`;
            } else if (seconds < 86400) {
                const hours = Math.floor(seconds / 3600);
                return `${hours} hour${hours !== 1 ? 's' : ''} ago`;
            } else {
                const days = Math.floor(seconds / 86400);
                return `${days} day${days !== 1 ? 's' : ''} ago`;
            }
        }

        function escapeHtml(unsafe) {
            if (unsafe != null) {
                return unsafe
                    .replace(/&/g, "&amp;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/"/g, "&quot;")
                    .replace(/'/g, "&#039;");
            }
            return unsafe;

        }




    </script>
</body>

</html>