<html>

<head>
    <title>
        <%= fundName %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link href="/campaign.css" rel="stylesheet">
    <link rel="icon" href="<%=camImage%>" type="image/icon type">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <style>
        .fa-brands,
        .fab {
            font-family: "Font Awesome 6 Brands" !important;
        }

        ::selection {
            color: #fff;
            background: var(--primary-color);
        }

        .popup {
            position: fixed;
            left: 50%;
        }

        .popup * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .button1 {
            outline: none;
            cursor: pointer;
            font-weight: 500;
            border-radius: 4px;
            border: 2px solid transparent;
            transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
        }

        .popup {
            z-index: 9999;
            background: rgb(255, 254, 254);
            padding: 25px;
            border-radius: 15px;
            top: 10%;
            max-width: 380px;
            width: 100%;
            opacity: 0;
            pointer-events: none;
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
            transform: translate(-50%, -50%) scale(1.2);
            transition: top 0s 0.2s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
        }

        .popup.show {
            top: 50%;
            left: 50%;
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
            transition: top 0s 0s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;

        }

        .popup :is(header, .icons, .field) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .popup header {
            padding-bottom: 15px;
            border-bottom: 1px solid #ebedf9;
        }

        header span {
            font-size: 21px;
            font-weight: 600;
        }

        header .close,
        .icons a {
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            transition: all 0.3s ease-in-out;
        }

        header .close {
            color: #878787;
            font-size: 17px;
            background: #f3f3f3;
            height: 33px;
            width: 33px;
            cursor: pointer;
        }

        header .close:hover {
            background: #ebedf9;
        }

        .popup .content {
            margin: 20px 0;
        }

        .popup .icons {
            margin: 15px 0 20px 0;
        }

        .content p {
            font-size: 16px;
        }

        .content .icons a {
            height: 50px;
            width: 50px;
            font-size: 20px;
            text-decoration: none;
            border: 1px solid transparent;
        }

        .icons a i {
            transition: transform 0.3s ease-in-out;
        }

        .icons a:nth-child(1) {
            color: #1877F2;
            border-color: #b7d4fb;
        }

        .icons a:nth-child(1):hover {
            background: #1877F2;
        }

        .icons a:nth-child(2) {
            color: #46C1F6;
            border-color: #b6e7fc;
        }

        .icons a:nth-child(2):hover {
            background: #46C1F6;
        }

        .icons a:nth-child(3) {
            color: #3085e1;
            border-color: #f5bccf;
        }

        .icons a:nth-child(3):hover {
            color: #3085e1;
        }

        .icons a:nth-child(4) {
            color: #25D366;
            border-color: #bef4d2;
        }

        .icons a:nth-child(4):hover {
            background: #25D366;
        }

        .icons a:nth-child(5) {
            color: #0088cc;
            border-color: #b3e6ff;
        }

        .icons a:nth-child(5):hover {
            background: #0088cc;
        }

        .icons a:hover {
            color: #fff;
            border-color: transparent;
        }

        .icons a:hover i {
            transform: scale(1.2);
        }

        .content .field {
            margin: 12px 0 -5px 0;
            height: 45px;
            border-radius: 4px;
            padding: 0 5px;
            border: 1px solid #757171;
        }

        .field.active {
            border-color: var(--primary-color);
        }

        .field i {
            width: 50px;
            font-size: 18px;
            text-align: center;
        }

        .field.active i {
            color: var(--primary-color);
        }

        .field input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 15px;
        }

        .field button {
            color: #fff;
            padding: 5px 18px;
            background: var(--primary-color);
        }

        .field button:hover {
            background: var(--primary-color);
        }

        .modalBackdrop {
            width: 100vw;
            height: 100vh;
            z-index: 9998;
            background-color: rgb(0, 0, 0);
            opacity: .5;
            position: fixed;
        }

        .visible {
            visibility: visible !important;
        }

        .scrollLock {
            overflow: hidden !important;
        }

        .donorColumn:empty {
            margin: 0;
        }
    </style>

</head>

<body>
    <div style="display:none;" id="id">
        <%=fundId %>
    </div>

    <div class="modalBackdrop" style="visibility: hidden;"></div>

    <div class="popup">
        <header>
            <span>Share Fundraiser</span>
            <div class="close"><i class="fa-light fa-x"></i></i>
            </div>
        </header>
        <div class="content">
            <p>Share this link via</p>
            <ul class="icons">
                <a href="#" id="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" id="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" id="text"><i class="fa-solid fa-comment"></i></a>
                <a href="#" id="whatsapp"><i class="fab fa-whatsapp"></i></a>
                <a href="#" id="envelope"><i class="far fa-envelope"></i></a>
            </ul>
            <p>Or copy link</p>
            <div class="field">
                <i class="fa-duotone fa-solid fa-link"></i>                <input type="text" id="site" readonly value="">
                <button button1>Copy</button>
            </div>
        </div>
    </div>


    <div class="topbarWrapper">
        <div class="topbar">
            <div id="logoname" class="hidden">
                <h2>
                    <%= fundName %>
                </h2>
            </div>
            <div id="logo">
                <img src="<%=camImage%>" alt="Logo">
            </div>

            <div class="topButtonsContainer">
                <button class="topButton view-modal button1"><strong>Share</strong></button>
                <!--<svg class="" style="height:30px;" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"> --><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <!--<path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                </svg>-->
            </div>
        </div>

    </div>
    <div style="position:absolute; top:60px; right:0px;
    width:137px; height:160px; z-index:9998; background-color:red; margin-right:15px; margin-top:10px; border-radius:7px; display:none;
    ">
        asdfasf
    </div>
    <center>
        <div>
            <div id="split">
                <div id="actualSplit">


                    <div class="splitImgParent">
                        <img id="splitimg" src="<%= mainCamImage%>">
                    </div>
                    <div class="donateProgParent">
                        <div class="donateProgBox">

                            <div>
                                <div style="width:100%; margin:-20px; padding-bottom:15px;">
                                    <h1 id="fundNameAboveBar">
                                        <%= fundName %>
                                    </h1>
                                </div>
                                <progress class="progress progress1" max="100" value="5"></progress>
                                <div class="amounts">
                                    <h3>$<%=parseInt(camFunds /100)%> Raised</h3>
                                    <h3>
                                        <%=parseInt(camFunds /dollarGoal)%>% of $<%=dollarGoal%> Goal
                                    </h3>
                                </div>
                                <a href="/checkout/<%=fundId %>"><button class="bigdonate"
                                        jf-ext-button-ct="donate now"><strong>Donate Now</strong></button> </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="aboutbox">
            <div class="aboutmessage">
                <p class="abouttitle">About our Fundraiser</p>
                </strong></p>
                <%- message %> <!--NOTE: THIS IS NOW NOT ESCAPED!! VULN TO XSS IF BAD STUFF INJECTED!-->
                    <span class="nomargin">
                        <p>Thank You,</p>

                        <%= programLeader %>
                    </span>

            </div>

        </div>

        <div class="donateboxhousing">
            <h1 style="margin-top:-25px;">Donate Now</h1>
            <div class="cardrow">
                <div class="card">
                    <div class="ribbon">Legendary Tier</div>
                    <div class="amountmessage">
                        <strong>$1,000</strong>
                        <p>Donations on this level make you a legend! Your contribution has the ability to revolutionize
                            our program, allowing it to expand far beyond its original goals!</p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=1000">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $1000</div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="ribbon">Platinum Tier</div>
                    <div class="amountmessage">
                        <strong>$500</strong>
                        <p>Large donations such as this are incredibly valuable.
                            Thank you for being a beacon of support in our journey towards a brighter future! </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=500">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $500</div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <div class="ribbon">Gold Tier</div>
                    <div class="amountmessage">
                        <strong>$250</strong>
                        <p>Thank you for donating to help to us purchase new equipmet for our members and continue to
                            cover our expenses! </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=250">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $250</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="cardrow">
                <div class="card shorterCard">
                    <div class="amountmessage">
                        <strong>$100</strong>
                        <p>Your donation will help us continue to provide our members with the best possible experience!
                        </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=100">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $100</div>
                        </div>
                    </a>
                </div>
                <div class="card shorterCard">
                    <div class="amountmessage">
                        <strong>$50</strong>
                        <p>Thank you for contributing to our effort to minimize member expenses and improve experiences!
                        </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=50">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $50</div>
                        </div>
                    </a>
                </div>
                <div class="card shorterCard">
                    <div class="amountmessage">
                        <strong>$35</strong>
                        <p>Every donation makes a difference and is greatly appreciated! </p>
                    </div>
                    <a href="/checkout/<%=fundId %>/?donate=35">
                        <div class="amountbutton">
                            <div class="buttonamount">Donate $35</div>
                        </div>
                    </a>
                </div>
            </div>
            <a href="/checkout/<%=fundId %>/?donate=100" style="color:black; text-decoration: none;">
                <div id="customdonationparent">
                    <div>Donate a Custom Amount</div>
                </div>
            </a>
        </div>


        <div style="width:100%; min-height: 100px;">
            <h1 id="thanks">A Huge Thank You to Our Supporters!</h1>

            <div id="columnParent">
                <div class="donorColumn" id="column1"></div>


                <div class="donorColumn" id="column2"></div>


                <div class="donorColumn" id="column3"></div>
            </div>




        </div>

        <button id="loadmore">Load More</button>
        </div>
    </center>

    <br>
    <br>
    <div class="footer">
        <center style="position:relative; top:50%; transform:translateY(-50%);">
            Campaign powered by RoyalFundraising
            <div style="height:10px"></div>
            © 2024 RoyalFundraising All Rights Reserved
        </center>
    </div>

    <script>
        var percent = <%=parseInt(camFunds / dollarGoal) %>;
        var fundId = parseInt(<%=fundId %>);
        var countsOfThree = 1; // count goes from 1 -3, determines which column of comments to add to
        let startIndex = 0;
        document.querySelector("#loadmore").addEventListener(
            "click", updateComments
        )


        if (percent >= 5) {
            document.querySelector(".progress1").value = percent;
        } else {
            if (window.innerWidth <= 420) {
                document.querySelector(".progress1").value = 11;
            }
            else {
                document.querySelector(".progress1").value = 7;
            }

        }
        updateComments();

        let url = window.location.href;
        let urlClean = url.replace("?share=true", "");
        let text = encodeURIComponent(`Hi, I'd really appreciate it if you would share or donate to this fundraiser: ${urlClean} to help support <%= fundName %>. Thank you! `)
        let twitter = "https://x.com/intent/post?lang=en&text=" + encodeURIComponent("Come support <%= fundName %> by sharing or donating! Thank you! " + urlClean);
        let whatsapp = "https://api.whatsapp.com/send?text=" + text;


        if ("<%= fundName %>" == "Bowie CyberSecurity Club") {
            document.querySelector("#envelope").href = "mailto:?subject=Support the Bowie CyberSecurity Club Fundraiser&body=Hi!%0D%0A%0D%0AThe Bowie CyberSecurity Club is dedicated to educating and empowering students in the field of cybersecurity. Our club offers hands-on training, participates in national competitions like CyberPatriots, and hosts workshops that develop critical skills such as teamwork, problem-solving, and ethical decision-making.%0D%0A%0D%0AWe are currently running a fundraiser to support our efforts. Your contribution will help cover competition fees, training materials, and community outreach. By supporting us, you are investing in the future of digital security and helping to inspire the next generation of cyber defenders.%0D%0A%0D%0AYou can make a difference by donating at: [" + url + "](" + url + ")%0D%0A%0D%0AThank you for your support!%0D%0A%0D%0A"
        } else {
            document.querySelector("#envelope").href = "mailto:?subject=Support the <%= fundName %> Fundraiser&body=" + encodeURIComponent(`Hi, I'd really appreciate it if you would share or donate to this fundraiser: ${urlClean} to help support <%= fundName %>. Thank you! `);
        }

        document.querySelector("#text").href = "sms:?&body=" + text;
        document.querySelector("#site").value = urlClean;
        document.querySelector("#whatsapp").href = whatsapp;
        document.querySelector("#facebook").href = "https://www.facebook.com/share_channel/?link=" + urlClean;
        document.querySelector("#twitter").href = twitter;
        async function updateComments() {
            const url = `/api/fetchComments?id=${fundId}&startIndex=${startIndex}`;
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }
                const json = await response.json();
                if (json.length == 0) {
                    //toggle the no comments yet thinggy ONLY IF THERE WERE NO TOTAL COMMENTS!!!!!
                    //for now, will just hide button...
                    document.querySelector("#loadmore").style.display = "none";
                } else {
                    for (var i = 0; i < json.length; i++) {
                        var htmlContent =
                            `<div class="donorcard">
                        <div class="donorName">
                            ${escapeHtml(json[i].commentName)} donated $${json[i].amount}
                        </div>
                        <div class="supportingDate">
                            ${json[i].supporting ? "Supporting " + escapeHtml(json[i].supporting) + " | " : ""}<span id="time">${timeAgo(json[i].date)}</span>
                        </div>
                        <div class="donorMessage">
                            ${json[i].comment ? escapeHtml(json[i].comment) : ""}
                        </div>
                    </div>`
                        switch (countsOfThree) {
                            case 1:
                                document.querySelector("#column1").innerHTML += htmlContent;
                                break;
                            case 2:
                                document.querySelector("#column2").innerHTML += htmlContent;
                                break;
                            case 3:
                                document.querySelector("#column3").innerHTML += htmlContent;
                                countsOfThree = 0;
                                break;
                        }
                        countsOfThree++; //switch btwn columns
                        startIndex++; // make sure that not just old data is pulled + no repeats
                        if (parseInt(json[i].rownum) > parseInt(startIndex)) {
                            startIndex = parseInt(json[i].rownum);
                        } else {
                            console.log(parseInt(json[i].rownum), ' is not greater than ', startIndex)
                        }

                    }

                }
                console.log(json);
            } catch (error) {
                console.error(error.message);
            }
        }

        function timeAgo(timestamp) {
            timestamp = parseFloat(timestamp)
            const now = Date.now(); // Current timestamp in milliseconds
            const diff = now - timestamp; // Difference in milliseconds

            const seconds = Math.floor(diff / 1000);

            if (seconds < 60) {
                return "just now";
            } else if (seconds < 3600) {
                const minutes = Math.floor(seconds / 60);
                return `${minutes} minute${minutes !== 1 ? 's' : ''} ago`;
            } else if (seconds < 86400) {
                const hours = Math.floor(seconds / 3600);
                return `${hours} hour${hours !== 1 ? 's' : ''} ago`;
            } else {
                const days = Math.floor(seconds / 86400);
                return `${days} day${days !== 1 ? 's' : ''} ago`;
            }
        }

        function escapeHtml(unsafe) {
            if (unsafe != null) {
                return unsafe
                    .replace(/&/g, "&amp;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/"/g, "&quot;")
                    .replace(/'/g, "&#039;");
            }
            return unsafe;

        }




    </script>
    <script>

        const viewBtn = document.querySelector(".view-modal"),
            popup = document.querySelector(".popup"),
            close = popup.querySelector(".close"),
            field = popup.querySelector(".field"),
            input = field.querySelector("input"),
            copy = field.querySelector("button");

        try {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('share')) {
                setTimeout(function () {
                    viewBtn.click();
                }, 500);

            } else {
                console.log(urlParams.get('share'));
            }
        } catch {
            console.log("no share param");
        }


        viewBtn.onclick = () => {
            popup.classList.toggle("show");
            document.querySelector(".modalBackdrop").classList.toggle("visible");
            document.querySelector("body").classList.toggle("scrollLock")
        }
        close.onclick = () => {
            viewBtn.click();
        }

        copy.onclick = () => {
            input.select(); //select input value
            if (document.execCommand("copy")) { //if the selected text is copied
                field.classList.add("active");
                copy.innerText = "Copied";
                setTimeout(() => {
                    window.getSelection().removeAllRanges(); //remove selection from page
                    field.classList.remove("active");
                    copy.innerText = "Copy";
                }, 3000);
            }
        }
    </script>
</body>

</html>